$header_height: 60px; 

.app_layout {
    position: relative;
    height: auto;
    width: 100vw !important;
    min-height: 100vh !important;
    display: flex;
    flex-flow: column;
}

.app_main_outer {
    flex: 1;
    padding: 60px 0 60px 100px;
}

.app_main_inner {
    padding: 40px !important;
    height: auto;
    min-height: 100% !important;
}