<div class="page_container">
    <div class="page_body card ec_card">

        <div class="ec_item_card_container">

            <ng-container *ngFor="let data of dataJson">
                <div class="ec_item_card">
                    <div class="w-100 d-flex justify-content-center">
                        <img [src]="data.imgUrl" class="data_img mx-auto card-img-top p-2" alt="...">
                    </div>
                    <div class="card-body">
                        <a [routerLink]="[data.id, 'details']"> {{ data.name }}</a>
                        <p class="card-text">
                            {{ data.description }}
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>