<div class="page_container">
    <div class="page_body card ec_card">

        <div class="ec_item_card_container">
            <div class="ec_item_card">
                <img [src]="data.imgUrl" class="data_img card-img-top p-2" alt="...">
                <div class="card-body">
                    <p> {{ data.name }}</p>
                    <p class="card-text">
                        {{ data.description }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>